version: 2.1
orbs:
  gcp-gcr: circleci/gcp-gcr@0.6.1
jobs:
  build_default:
    machine:
      docker_layer_caching: true
    environment:
      GCR_IMAGE: us.gcr.io/vcm-ml/fv3gfs-python
      GOOGLE_APPLICATION_CREDENTIALS: /tmp/key.json
    steps:
      - checkout
      - run:
          name: "save gcloud key for gcsfs"
          command: |
            echo $ENCODED_GCR_KEY | base64 -d > $GOOGLE_APPLICATION_CREDENTIALS
      - add_ssh_keys:
          fingerprints:
            - "b6:e7:38:b9:a6:61:ec:f2:27:81:0c:8e:b9:79:41:ca"
      - run:
          name: "Pull submodules"
          command: |
            git submodule init
            git submodule update
      - run: 
          name: "Install Python test dependencies"
          command: |
            pyenv versions
            [ -d /opt/circleci/.pyenv/versions/3.6.2 ] || pyenv install 3.6.2
            pyenv global 3.6.2
            pip install --upgrade pip setuptools
            pip install -r requirements.txt
            pip install external/fv3config external/fv3util
      - run:
          name: "Perform pure Python tests"
          command: |
            pytest external/fv3util/tests
      - run: 
          name: "Compile model and perform model tests"
          command: |
            bash test_docker.sh
      - gcp-gcr/gcr-auth
      - run: |
          echo "$ENCODED_GCR_KEY" | base64 --decode | docker login --username _json_key --password-stdin https://gcr.io
          if [[ "$CIRCLE_BRANCH" == "fix/versioning" ]]
          then
              echo "pushing untagged image $GCR_IMAGE"
              docker push $GCR_IMAGE
          fi
          if [[ ! -z "$CIRCLE_TAG" ]]
          then
              echo "pushing tagged image $GCR_IMAGE:$CIRCLE_TAG"
              docker tag $GCR_IMAGE $GCR_IMAGE:$CIRCLE_TAG
              docker push $GCR_IMAGE:$CIRCLE_TAG
          fi

workflows:
  version: 2
  tagged-build:
    jobs:
      - build_default:
          filters:
            tags:
              only: /^v.*/
