version: 2.1
orbs:
  gcp-gcr: circleci/gcp-gcr@0.6.1
jobs:
  build_default:
    machine:
      docker_layer_caching: true
    environment:
      GCR_IMAGE: us.gcr.io/vcm-ml/fv3gfs-python
      GOOGLE_APPLICATION_CREDENTIALS: /tmp/key.json
    steps:
      - checkout
      - run:
          name: "save gcloud key for gcsfs"
          command: |
            echo $ENCODED_GCR_KEY | base64 -d > $GOOGLE_APPLICATION_CREDENTIALS
      - add_ssh_keys:
          fingerprints:
            - "b6:e7:38:b9:a6:61:ec:f2:27:81:0c:8e:b9:79:41:ca"
      - run:
          name: "Pull submodules"
          command: |
            git submodule init
            git submodule update
      - gcp-gcr/gcr-auth
      - run: bash test_docker.sh
      - run: |
          if [[ "$CIRCLE_BRANCH" == "master" ]]
          then
              docker push $GCR_IMAGE
              if [[ "$CIRCLE_TAG" != "" ]]
              then
                  docker tag $GCR_IMAGE $GCR_IMAGE:$CIRCLE_TAG
                  docker push $GCR_IMAGE:$CIRCLE_TAG
              fi
          fi
workflows:
  version: 2
  build:
    jobs:
      - build_default
  tagged-build:
    jobs:
      - build_default:
          filters:
            tags:
              only: /^v.*/
            branches:
              only: master
